html, body {

    margin: 5px;
    padding: 0;
    background-color: #F18F01;
    font-family: 'Roboto slab', serif;
}

.title {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 80px;
    color: #B80C09
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}