html, body {
    height: 100%;
    margin: 0;
    background-color: hsl(0, 0%, 29%)
}

.red {
    background-color: #B80C09;
}

.redtitle {
    color: #FFFFFF;
    font-size: 50px
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column
}

.card-footer {
  margin-top: auto
}

.mouseover:hover {
    background-color: #F18F01;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.columns {
    flex: 1 1 auto;
}