html, body {
    height: 100%;
    margin: 0;
    background-color: hsl(0, 0%, 29%)
}

.red {
    background-color: #B80C09;
}

.redtitle {
    color: #FFFFFF;
    font-size: 50px
}

.card {
    height: 100%;
}

.mouseover:hover {
    background-color: #F18F01;
}

.columns {
    flex: 1 1 auto;
}