html, body {
    height: 100%;
    margin: 0;
    background-color: hsl(0, 0%, 29%)
}

.red {
    background-color: #B80C09;
}

.card {
    height: 100%;
}

.card:hover {
    background-color: #F18F01;
}

.columns {
    flex: 1 1 auto;
}